.ulClass {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ulClass li {
  text-decoration: none;
  list-style: none;
  margin-top: 10px;
  display: flex;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  width: 100px;
}
.expClass {
  color: #72c142;
  font-weight: 300;
}
.ulClass span {
  margin-left: 30px;
  transition: 0.5s ease-in-out;
}
.ulClass:hover span {
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out;
}
