.visualisationTitle {
  font-size: 1.5vw;
  font-weight: 500;
  text-align: center;
  margin-top: 200px;
}
.cvTitle {
  font-size: 1.6vw;
  font-weight: 500;
  margin-top: 3vw;
  border: 1px solid;
  border-radius: 50px;
  padding: 1.2vw 8vw 1.5vw 8vw;
  text-align: center;
}
.cvImage {
  border: 2px solid #72c142;
  border-radius: 100px;
  width: 11vw;
  height: 11vw;
}
.cvHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.cvHeaderInfo {
  text-align: end;
  font-size: 1.1vw;
  font-weight: 400;
}
.cvSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 1800px) {
  .visualisationTitle {
    font-size: 30px;
  }
  .cvTitle {
    font-size: 30px;

    margin-top: 70px;

    border-radius: 50px;
    padding: 20px 100px 20px 100px;
  }

  .cvHeaderInfo {
    font-size: 20px;
  }
  .cvImage {
    width: 200px;
    height: 200px;
  }
}
