.containerTimeline {
  display: flex;
  font-size: 12px;
  margin-top: 70px;
}
.containerOpenskillsrh {
  display: flex;
  flex-direction: column;
  width: 24%;
}
.containerVoyages {
  display: flex;
  flex-direction: column;
  width: 24%;
}
.containerEilyps {
  display: flex;
  flex-direction: column;
  width: 24%;
}
.containerCalcialiment {
  display: flex;
  flex-direction: column;
  width: 24%;
}
.line {
  width: 1px;
  margin-right: 5px;
  background-color: white;
  height: 300px;
}
.lineGreen {
  width: 100;
  height: 2px;
  background-color: #72c142;
  margin-top: -20px;
}
