.container {
  display: flex;
  margin-top: 40px;
  font-size: 1vw;
}
.data {
  display: flex;
  flex-direction: column;
}
.line {
  width: 2px;
  height: 15vw;
  background-color: #efefef9d;
}
.number {
  font-size: 3vw;
  color: #72c142;
  margin-left: 15px;
}
.text {
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 1800px) {
  .container {
    margin-top: 40px;
    font-size: 20px;
  }
  .number {
    font-size: 40px;
  }
  .classH2 {
    font-size: 20px;
  }
  .line {
    height: 100%;
  }
}
