.containerDescriptionUnderBigTitle {
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 40vw;
}
.smalltitle {
  font-size: 1vw;
}
@media (min-width: 1800px) {
  .smalltitle {
    font-size: 20px;
  }
  .containerDescriptionUnderBigTitle {
    max-width: 800px;
  }
}
