
@font-face {
    font-family: 'another_typewriterregular';
    src: url('fontes/atwriter-webfont.woff2') format('woff2'),
         url('fontes/atwriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  background: url("images/backgroundbali.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  margin: 0;
}

.bloc_page {
  display: flex;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60em;
}

/* ¨PAGE D'ACCEUILLE  ---------------------------------------------------------------------------------------------------------*/
.pagePrincipal { 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.icones {

    display: flex;
    padding-top: 10em;
}

/*TITRE EFFET TYPEWRITING-----------------------------------------------------------------------------------------------------*/

.line-1 {
  position: relative;
  font-family: another_typewriterregular;
  text-shadow: black 0.1em 0.1em 0.2em;
  border-right: 2px solid;
  color: white;
  font-size: 180%;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(50%);
}

.line1typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 200ms steps(44) normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: none;
  }
  to {
    border-rigth-color: transparent;
  }
}

/* BOUTON START-----------------------------------------------------------------------------------------------------------------*/

.boutton {
  display: flex;
  text-shadow: white 0.1em 0.1em 0.2em;
  margin: 50px;

}

.btn {
  position: relative;
  padding: 20px 50px;
}

.btn-1 {
  color: #000;
  text-decoration: none;
  

}

.btn-1::after,
.btn-1::before {
  border: 2px solid black;
  border-radius: 20px;
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.1 ease;
}

.btn-1:hover::after {
  transform: translate(-5px, -5px);
}

.btn-1:hover::before {
  transform: translate(5px, 5px);
}
    

/*ARTICLE A PROPOS DE MOI------------------------------------------------------------------------------------------------------------*/


#article_principal {
    background-color: #adc178;
    height: 70em;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    
}

#contenu_article_principale {
    
    width: 23em;
    height: 55em;
    color: #fefae0;
    margin-left: 5em;
    margin-top: 5em;

    
    
    
}

#contenu_article_principale h1 {
    font-family: another_typewriterregular;
    font-size: 3em;
    
}

#contenu_article_principale p {

    

}

#contenu_article_passion {
    
    width: 23em;
    height: 55em;
    color: #fefae0;
    margin-left: 5em;
    margin-top: 5em;
    
}

#contenu_article_passion h1 {
    font-family: another_typewriterregular;
    font-size: 3em;
    
}

#contenu_article_passion p {

    
}

.photomoi img {

    height: 75%;
    width: 35em;
    

}

/* ARTICLE MES SKILLS-------------------------------------------------------------------------------------------------------*/

#article_secondaire { /*PREMIER FLEXBOX*/

    background-color: rgb(230 , 255 , 230);
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

   /* padding-left: 12em;
    padding-top: 10em;
    border-radius: 8px;*/

    
}

.titre_skillz { /*alignement du titre au milieu*/

    margin-top: 5.5em;
    margin-left: 4em;



}

.skillz1 {     /*SECOND FLEXBOX*/

    display: flex;
    flex-direction: column;
    margin-right: 5em;
   
}

.skillz1 h1 {

    color: DarkOrange;
}

.langues {   /*TROISIEME FLEXBOX*/

    display: flex;
    flex-direction: column;
    margin-bottom: 25em;
    padding-top: 13em;


}

.langues h1 {

    color: DarkOrange;
}

.container {
    background-color: rgb(192, 192, 192);
    width: 20em;
    border-radius: 15px;
    height: 1em;
    text-align: center;
    margin-left: 70px;
    
    margin-top: 3em;
    font-size: 1em;
}
  
.skill {
        background-color: rgb( 89 , 133 , 70);
        color: white;
        height: 1em;
        text-align: center;
        border-radius: 15px;
}
.titre_skillz {

    color: rgb( 89 , 133 , 70)
}
        

  
    .html {
        width: 60%;
    }
  
    .css {
        width: 50%;
    }
    .javascript {
        width: 40%;
    }
  
    .sql {
        width: 60%;
    }

    .linux {
        width: 80%;
    }
  
    .windows {
        width: 90%;
    }
    .virtualisation {
        width: 80%;
    }

    .anglais {
        width: 99%;
    }

    .curiosite {
        width: 100%;
    }
  
    .motivation {
        width: 100%;
    }
    .gestiondutps {
        width: 90%;
    }
  

/*PARCOUR PRO----------------------------------------------------------------------------------*/

.parcour { /*PREMIER FLEXBOX*/

    background-color: rgb( 158 , 194 , 124);
    height: 45em;
    display: flex;
    flex-direction: column;
    color: white;
}

.expProf {

    display: flex;
}

.expEduc {

    display: flex;
}